{% extends 'base.html' %}


{% block title %}This is the Homepage{% endblock %}

{% block body %}
	<div class="container">
		<h2>Grocery List</h2>
		<form class="form-signin" method="POST" action="/list_post">
			<div class="container">
				<label for="inputItem" class="sr-only">Add an item</label>
				<input type="text" name="items" placeholder="New item">
				<button class="btn btn-primary" type="submit">Add Item</button>
				<br><a type="submit" class="btn btn-primary" href="{{ url_for('main.list') }}">check list</a>
			</div>	
		</form>

		<!-- creating a new form to propogate a drop-down -->
		<form class="" method="post" action="/drop_down_remove">
			<div class="container">
				<h2>Current List</h2>
				<select name="drop_down">
					{% for item in items %}
					<option>{{ item }}</option>
					{% endfor %}
				</select>
				<button type="submit" class="btn btn-primary">Remove</button>
				

			</div>

		</form>


	</div>
	
{% endblock %}