{% extends 'base.html' %}


{% block title %}This is the Homepage{% endblock %}

{% block body %}
	<div class="container">
		<h2>Grocery List</h2>
		<form class='' method="POST" action="/create_list">
			<div>
				<input type="text" name="new_list" placeholder="Name">
				<button class="btn btn-primary" type="submit">Create List</button>
			</div>
		</form>
		<br>
		<form class="" method="POST" action="/delete_list">
			<div>
				<label for="SelectList">Select a list</label>
				<select name="current_lists">
					{% for list in lists %}
					<option>
						{{ list }}
					</option>
					{% endfor %}
				</select>
				
				<button class="btn btn-primary" type="submit">Delete List</button>
					
			</div>
		</form>
		<br>
		
		<form class="" method="POST" action="/list">
			<div>
				<label for="ChoosingList">Choose a List</label>
				<select name="chooselist">
					{% for list in lists %}
					<option>
						{{list}}
					</option>
					{% endfor %}
				</select>
				<button class="btn btn-primary"type='submit'>Go to List</button>
					
				

			</div>

			

		</form>

		



	</div>
	
{% endblock %}